@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/vairables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.map-container {
  height: 100%;
}

.map {
  &__page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__list-container {
    height: 38vh;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  &__listings {
    display: flex;
    flex-direction: row-reverse;
    overflow-x: auto;
    gap: 1rem;
    padding: 0 1rem;
  }

  &__item {
    flex: 0 0 auto;
    width: 15rem;
    margin-right: 1rem;
  }

  &__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: $primary-color-alternate;
  }

  &__details {
    font-size: 0.8rem;
    color: $primary-font-color;
    word-wrap: break-word;
  }
  &__link {
    text-decoration: none;
    color: $primary-color;
  }

  &__container {
    height: 65vh;
  }
}
