@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/vairables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.map {
  &__page {
    display: flex;
    height: 100vh;
  }

  &__list-container {
    width: 50%;
  }
  &__container {
    width: 50%;
  }
}

.map-container {
  height: 100%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  //   z-index: 1;
  //   position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
